<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<script src="/static/dist/js/host.js"></script>
<script src="/static/dist/js/jquery-3.3.1.js"></script>
<script src="/static/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/dist/css/bootstrap.min.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<div class="list-group">
    <div id="token"   th:text="${token}"></div>

<!--    <a href="#" class="list-group-item list-group-item-success">-->
<!--        <button id="" type="button" class="btn btn-success">-->
<!--            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>-->
<!--        </button>-->
<!--        <button type="button" class="btn btn-danger">-->
<!--            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>-->
<!--        </button>-->
<!--        The First Article-->
<!--        <span class="badge">14</span>-->
<!--    </a>-->
<!--    <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero  <span class="badge">14</span></a>-->
<!--    <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac  <span class="badge">14</span></a>-->
<!--    <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros  <span class="badge">14</span></a>-->
</div>

<script>
    var article_list = [];


    $(document).ready(function() {
        var token = $("#token").text();
        if (token.length == 0){
            alert("现在token =0")
            token = window.localStorage["token"];
        }else{
            window.localStorage["token"] = token;
        }

        $.ajax({
            type: "GET",
            url: "http://"+host+"/post/getAllbyTime?token="+token,
            xhrFields:{
                withCredentials:true,
            },
            success: function(data) {
                if (data.status == "success") {
                    article_list = data.data;
                    reloadDom();
                } else {
                    window.location.href="http://"+host;
                }
            },
            error: function(data) {
                alert("获取商品信息失败，原因为123" + data.responseText);
            }
        });
    });

    function reloadDom() {
        $(".list-group").html("");
        for (var key in article_list) {
            var k = key
           var dom = '<a  class="list-group-item list-group-item-success">\n' +
                '        <button onclick="incr(\''+key+'\')" type="button" class="btn btn-success">\n' +
                '            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>\n' +
                '        </button>\n' +
                '        <button  type="button" class="btn btn-danger">\n' +
                '            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>\n' +
                '        </button>\n' +
                '        <span href="'+article_list[k].link+'"> '+article_list[k].title+'</span>\n' +
                '        <span class="badge">'+article_list[k].votes+'</span>\n' +
                '    </a>\n';

            $(".list-group").append($(dom));

        }

    }
    function incr(id) {
        var token = localStorage.getItem("token");
        $.ajax({
            type: "POST",
            url: "http://"+host+"/post/incr?article="+id+"&token="+token,
            xhrFields:{
                withCredentials:true,
            },
            success: function(data) {
                if (data.status == "success") {
                    article_list = data.data;
                    reloadDom();
                } else {
                    alert(data.data);
                }
            },
            error: function(data) {
                alert("获取商品信息失败，原因为" + data.responseText);
            }
        });
    }
    function decr(article) {
        $.ajax({
            type: "POST",
            url: "http://"+host+"/post/decr"+article,
            xhrFields:{
                withCredentials:true,
            },
            success: function(data) {
                if (data.status == "success") {

                } else {
                    alert("获取商品信息失败，原因为" + data.data.errMsg);
                }
            },
            error: function(data) {
                alert("获取商品信息失败，原因为" + data.responseText);
            }
        });
    }


</script>
</body>
</html>